<div class="pensamento {{ pensamento.modelo }} ff-roboto-mono pensamento-p" [ngClass]="larguraPensamento()"8+>
  <img src="/assets/images/{{ pensamento.modelo }}.png" alt="Aspas coloridas">
  <p class="conteudo">{{ pensamento.conteudo }}</p>
    <p class="autoria"><b>{{ pensamento.autoria }}</b></p>
    <div class="acoes">
        <button class="botao-editar">
            <img src="/assets/images/icone-editar.png" alt="Ícone de editar">
        </button>
        <button class="botao-excluir">
            <img src="/assets/images/icone-excluir.png" alt="Ícone de excluir">
        </button>
    </div>
</div>

